<div style="padding:50px">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>book</th>
						<th>author</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
						<tr>
							<td><%= book.name %></td>
							<td><%= book.author %></td>
							<td>
								<%= link_to 'Edit', edit_book_path(book) %>
								<%= link_to 'Delete', book_path(book), method: :delete, data: {confirm: 'Sure?'} %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<%= link_to "Add Book", :action => "new" %>
		</div>
	</div>
</div>